In [1]:
import numpy as np
import pandas as pd

In [2]:
dftrain = pd.read_csv("train.csv")
dftest = pd.read_csv("test.csv")
print(dftrain.shape,dftest.shape)
dftrain.head(5)

(15120, 56) (565892, 55)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [3]:
train_y = dftrain['Cover_Type']
train_x = dftrain.drop(columns=['Cover_Type','Id'])
test_x = dftest.drop(columns=['Id'])
print(train_y.shape,train_x.shape,test_x.shape)

(15120,) (15120, 54) (565892, 54)

In [4]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
frames = [train_x,test_x]
all_df = pd.concat(frames).values
all_df = min_max_scaler.fit_transform(all_df)
all_df = pd.DataFrame(all_df)
print(all_df.shape)
all_df.head(5)

/home/aditya/.conda/envs/py3k/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

(581012, 54)

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,0.368684,0.141667,0.045455,0.184681,0.223514,0.071659,0.870079,0.913386,0.582677,0.875366,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.365683,0.155556,0.030303,0.151754,0.215762,0.054798,0.866142,0.925197,0.594488,0.867838,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.472736,0.386111,0.136364,0.191840,0.307494,0.446817,0.921260,0.937008,0.531496,0.853339,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.463232,0.430556,0.272727,0.173228,0.375969,0.434172,0.937008,0.937008,0.480315,0.865886,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.368184,0.125000,0.030303,0.109520,0.222222,0.054939,0.866142,0.921260,0.590551,0.860449,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
train_X = all_df[:15120]
test_X = all_df[15120:]
print(train_X.shape,test_X.shape)

(15120, 54) (565892, 54)

In [63]:
"""
from sklearn.svm import SVC
model = SVC() # 0.6696
from sklearn.linear_model import LogisticRegression
model = LogisticRegression() #0.7196
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50) #0.8526
from sklearn.naive_bayes import GaussianNB 
model = GaussianNB() #0.5526
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier() #0.7785
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5) #0.78303
from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier(n_estimators=20) #0.5839

from sklearn.ensemble import VotingClassifier
model = VotingClassifier(estimators=[('knn',clf1),('rfc',clf2),('dtc',clf3),('lr',clf4)],voting='hard') #0.82
"""
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=50)
model.fit(train_X,train_y)
score = model.score(train_X,train_y)
print(score)

1.0

In [64]:
predictions = model.predict(test_X)

In [65]:
results = pd.DataFrame(predictions,index=range(15121,581013))

In [66]:
results.to_csv("sol.csv",index=True,index_label="Id",header=['Cover_Type'])